# Entorno virtual
venv/
env/

# Compilados de Python
__pycache__/
*.pyc


# Archivos temporales de Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
staticfiles/

# Archivos de migraciones compiladas
*/migrations/__pycache__/

# Archivos de configuración local
.env